@media (max-width:1870px){.inner-show-img{width:760px;height:760px;}
}
@media(max-width:1780px){.home-main-banner{margin-top:294px;}
.main-banner-section{padding-bottom:327px;}
}
@media (max-width:1700px){.inner-page-header{min-height:870px;}
.inner-show-img{width:700px;height:700px;}
}
@media (max-width:1650px){.inner-page-header{min-height:860px;}
.inner-show-img{right:58px;top:90px;}
}
@media (max-width:1500px){.inner-page-header{min-height:800px;}
.inner-show-img{width:660px;height:660px;}
.blank-space{top:-239px;}
}
@media(max-width:1466px){.home-main-banner{margin-top:174px;}
.main-banner-section{padding-bottom:200px;}
}
@media (max-width:1370px){.inner-page-header{min-height:680px;}
.inner-show-img{width:550px;height:550px;}
.slider-content{margin-top:250px;}
.blank-space{top:-175px;height:180px;}
.comunication-step{background-size:50px, auto, auto;}
}
@media(max-width:1280px){.main-banner-section{padding-bottom:210px;}
.home-main-banner{margin-top:128px;}
.slider-content{margin-top:220px;}
.heading-main h2, .slider-content h1{font-size:2.5rem;}
.plan-first{width:33%;}
.map-tab-bottom .awesome-app-list-content-col{position:relative;}
.map-tab-bottom .awesome-app-list-tabs li{max-width:50%;}
.step-content h3{font-size:1.5rem}
.step-image{width:350px;height:330px;}
.step-image img{height:90%}
.comunication-step{background-size:40px, auto, auto;}
}
@media(max-width:1199px){.home-main-banner{max-width:390px;margin-top:120px;}
.main-banner-heading{font-size:2.0rem;}
.main-banner-subheading{font-size:1.6rem;}
.form-banner .form-control{min-width:310px;}
.form-banner{max-width:340px;}
.banner-slide .carousel-item p{font-size:2.5rem;}
.banner-slide{margin-top:36px;}
.main-banner-section{padding-bottom:90px;}
.headache-col{margin-top:50px;}
.headache-section{padding-bottom:50px;}
.grow-tabs{max-width:50%;}
.grow-tab-content{max-width:46%;}
.grow-tabs li{padding-right:10px;padding-top:10px;}
.grow-tabs li p{font-size:0.95rem;}
.grow-tabs li .nav-link{padding:0 10px 0 60px;}
.grow-tabs li.add-on-tab span.grow-tab-icon{width:50px;line-height:45px;height:50px;font-size:40px;}
.awesome-app-section{padding-top:50px;padding-bottom:50px;}
.awesome-app-title{font-size:2.5rem;margin-bottom:30px;}
.awesome-app-tabs li a.nav-link{font-size:1.2rem;line-height:1.2rem;}
.awesome-app-content{margin-top:65px;}
.awesome-app-list-tabs li a.nav-link p{font-size:1rem;line-height:1.4rem}
.awesome-app-list-nav-link{padding:15px;}
.awesome-app-list-tabs li{padding-right:15px;}
.awesome-app-list-nav-link span.grow-tab-icon{margin-top:-8px;}
.schoollog-loved-section{padding-top:60px;padding-bottom:60px;}
.schoollog-loved-section p{font-size:2.0rem}
.schoollog-area{padding-top:50px;padding-bottom:50px;}
.free-trial-info p{font-size:1.2rem;line-height:1.4rem;}
.free-trial-btn-info p, .free-trial-btn{font-size:1rem;}
.support-list-info p{font-size:1.5rem}
.headache-col-subheading{font-size:1.1rem;}
.team-left-contant-block p, .team-right-contant-block p{width:46%;}
.team-list p{margin-top:50px;}
.team-pic img{width:220px;height:auto;}
.office-tabs-content{width: 84%;}
.faq-page .awesome-app-list-content-col {width: 54%;}

}
@media (max-width:1110px){.inner-page-header{min-height:600px;}
.inner-show-img{width:450px;height:450px;border-width:15px;}
.slider-content{margin-top:200px;}
.step-content{margin-top:0;}
.step-image{width:270px;height:250px;}
.step-content{margin-top:0;}
.reasons-reuired li{font-size:1rem;}
}
@media(max-width:991px){

.main-banner-section{background-image:url(..images/mobile_header-bg.png);background-repeat:repeat-x;background-color:#3fc1f3;padding-bottom:0;}
.banner-image-mobile{width:280px;overflow:hidden;float:right;margin-top:130px;display:block;}
.headache-section{padding-top:30px;}
.scrollbar{height:240px;}
.grow-tabs{margin-top:0}
.grow-tabs li{padding-right:0px;width:88%;padding-top:0px;padding-bottom:10px;}
.grow-tabs li .nav-link, .panel-default li.panel-heading .nav-link{padding:0 10px 0 10px;height:64px;line-height:64px;}
.panel-heading .nav-link::after{content:"";vertical-align:.155em;border-top:.4em solid;border-right:.4em solid transparent;border-left:.4em solid transparent;float:right;margin-top:26px;margin-right:10px;}
span.grow-tab-icon{margin-top:0;}
.awesome-app-list-content-col{display:flex;width:200px;}
.awesome-app-list-tabs li{width:50%;}
.awesome-app-list-nav-link{padding:10px 5px;}
span.grow-tab-icon{width:25px;}
span.grow-tab-icon svg{max-width:100%;}
.awesome-app-list-tabs li a.nav-link p{margin-left:35px;}
.awesome-app-list-tabs{margin-top:0;}
.awesome-app-list-tabs li a.nav-link{margin-bottom:10px;}
.grow-tabs li.add-on-tab .nav-link{float:left;}
.grow-tabs li.add-on-tab span.grow-tab-icon{width:40px;line-height:35px;height:40px;font-size:37px;margin-top:8px;}
.schoollog-loved-section p{font-size:1.5rem;}
.schoollog-loved-section{padding-top:40px;padding-bottom:40px}
.free-trial-btn-info p, .free-trial-btn{padding:10px 20px;}
.free-trial-btn-info p{padding:0;}
.support-info{padding-left:0;padding-right:0;}
.support-list-info p{font-size:1.2rem;line-height:1.5rem;}
.support-icon-col{padding-top:0px;}
.follow-col p{font-size:1rem; text-align: center;}
ul.footer-nav li, .copy-right-col{font-size:0.95rem;}
.slider-content{margin-top:160px;}
.heading-main h2, .slider-content h1{line-height:normal;font-size:2rem;}
.slider-content p{font-size:1rem;line-height:normal;}
.price big{font-size:2.5rem;}
.blank-space{top:-156px;}
.reasons-reuired li{width:30%;}
.date-block{padding-right:20px;}
.team-left-contant-block .date-block{padding-left:2px;}
.team-left-contant-block p, .team-right-contant-block p{width:86%;}
.indication{display:none;}
.indication:after{height:26px;width:26px;top:-13px;}
.team-list p{margin-top:0;}
.team-list{min-height:220px;}
.team-left-contant-block, .team-right-contant-block{margin-top:20px;}
.team-left-contant-block .year-month{transform-origin:0px 63px;}
.team-left-contant-block{width:54%;}
.team-member-detail p{font-size:14px; min-height: 40px}
.career-section{padding-top:30px;}
.career-slide{margin-top:0;}
.why-reasons.career-section h2{margin-bottom:10px;}
.office-tabs-content{width: 74%;}
.office-tabs-content iframe {min-height: 428px;}
.faq-page .awesome-app-list-content-col h5{margin-top: 0;font-size: 1.8rem;}
.faq-page .awesome-app-list-tabs li a.nav-link p{font-size: 1.8rem;}
.faq-page .awesome-app-list-content-col p{font-size: 1.3rem;}
/*--Inner page css --*/
.contact-form, .contact-info{width: 48%;}
.contact-form .row{display: block;}
.contact-form .row .col{margin-bottom: 20px;}
.contact-form .form-group{margin-bottom: 20px;}
/*--New css for partner/client page--*/
.key-contacts{width: 48%;}
.client-logo .logo-img {min-height: 120px;}
}
@media (max-width:800px){.inner-page-header{background:url(../images/mobile_header_bg.jpg) no-repeat 0 -111px;min-height:370px; background-size: 100%;}
.inner-show-img{width:220px;border-width:10px; height:220px; z-index: 9; right:0;}
.slider-content{margin-top:120px;margin-bottom:40px; }
/*.plan-main-section{margin:80px 0 0 0;}*/
.plan-main{padding-top:50px; padding-bottom: 40px; position: relative;}
.our-team-detail .owl-nav.disabled, .career-slide .owl-nav.disabled{display: none!important;}
.plan-first{width:90%; margin:0px 5%;}
.career-slide .slides li{width: 100%; margin: 0;}
.map-tab-bottom .awesome-app-list-tabs li{max-width:54px;width:100%;}
.map-tab-bottom .awesome-app-list-tabs li:nth-child(even){float:right;}
.map-tab-bottom .awesome-app-list-tabs li a.nav-link svg{width:15px;margin-top:4px;}
.blank-space{display:none;}
.comunication-step{background-size:40px, auto, auto;}
.team-right-contant-block, .team-left-contant-block{width:100%;}
.year-month, .team-left-contant-block .year-month{transform:rotate(0deg);transform-origin:0;top:-60px;}
.team-right-contant-block.first-child{margin-top:80px;}
.team-list{min-height:inherit;margin-top:20px;}
.team li{width:90%;margin:0 5% 0px;}
.opportunity-section{width:100%;margin-bottom:20px;}
.carousel-indicators{bottom:-37px;}
.carousel-indicators li{width:12px;height:12px;}
.faq-page{margin-top: 40px; margin-bottom: 40px;}
.map-tab-bottom{min-height: 550px;}
/*--inner pages css--*/
.life-schoollog .heading h2, .life-schoollog .counication-page h2{font-size: 1.5rem;}
.life-schoollog h3{text-align: center; font-size: 1.0rem;}
.faq-left{width: 100%; margin:0 0 20px 0;}
.top-text{margin-top: 20px;}
.card-header .btn-link{font-size:18px; }
.terms h4{font-size: 1.1rem;}
.contact-page{margin-top: 30px;}
.contact-info{width: 100%; float: left;}
.contact-form{ width: 100%; float: left; }
/*--New css for partner/client page--*/
.partner-us-img, .partner-contant-section, .partner-section h2{width: 100%; text-align: center;}
.key-contacts{width: 100%; margin-top: 20px;}
.client-logo .logo-img { min-height: 130px;}
.career-section .flex-control-nav{margin-top: 30px;}
.client-logo-slide{min-height: auto; padding-bottom: 30px;}
.client-logo .logo-img img{width: 120px;}
.client-page .testimonail-carousel .owl-nav.disabled,
.client-page .testimonail-carousel .owl-nav{display: block;}
.client-page .testimonail-carousel .owl-dots{display: none}
.testimonail-carousel{position: relative;padding-top: 50px;}
}
@media(max-width:767px){
.container{max-width: 96%; padding: 0; width: 96%;}
.container:after{content: ''; display: block; clear: both;}
.main-banner-section {margin-top: 62px; background: url(../images/main_mobile_banner.jpg) no-repeat 0 0; background-size: cover;}
.main-banner-heading {font-size: 3.5rem;}
.main-banner-subheading { font-size: 3.4rem; line-height: 3.4rem;} 
.grow-tabs li{width:48%;margin-left:1%;margin-right:1%;}
.office-tabs-content{width:100%; margin-top: 63px;}
.country-map{max-width:76%;text-align:center;float:none;display: inline-block; margin:0 auto 30px auto;}
.grow-section{background:#5090d9;float:left;width:100%;min-height:auto;}
.banner-image-mobile{width:100%;}
.home-main-banner{max-width:100%;text-align:center;margin-top:70%;width:100%;}
.home-main-banner .view h3{display: block; font-size: 2rem; text-align: left;}
.carousel-control-prev-icon{background-image: url(../images/mobile_arrow.png); height: 53px; background-size: contain; background-position: 0 0; background-repeat: no-repeat;}
.carousel-control-next-icon{background-image: url(../images/mobile_arrow_right.png); height: 53px; background-size: contain; background-position: 0 0; background-repeat: no-repeat;}

.banner-slide .carousel-control-next, .banner-slide .carousel-control-prev{top:10px; width: 22px; height: 53px; opacity: 1; cursor: pointer;}
.home-main-banner .view p{float: left; font-size: 2rem;}
.view.hm-white-slight img { margin-left: 60px; margin-right: 40px;}
.form-banner{margin:20px auto; max-width: 90%; width: 100%; display: inline-block;}
.form-banner .form-control{width: 100%; font-size: 1.9rem;}
.banner-slide{margin:10px auto; max-width:90%;}
.grow-tab-content, .grow-tabs{max-width:100%;}
.awesome-app-tabs{max-width:99%;}
.grow-tabs li{width:23%;margin:0 1%;}
.grow-tabs li a{font-size: 0px!important; text-align: center;}
.grow-tabs li a.nav-link svg{margin: 0;}
.awesome-app-section .container{padding:0px;}
.awesome-app-content .awesome-app-content-outer{display:block; position: relative;}
.awesome-app-content{min-height: 570px;}
.awesome-app-list-tabs li{width:54px; padding:0;margin:0; float: left;}
.awesome-app-list-content-col .tab-content>.tab-pane img{margin-left: 0px; max-width:96%; }
.awesome-app-list-tabs li:nth-child(even){float: right;}
.awesome-app-list-tabs li:nth-child(2n+1){clear: both;}
.back-to-top{display: none!important;}
.awesome-app-list-nav-link{padding:20px 13px;}
.awesome-app-list-tabs li a.nav-link{margin-bottom:25px;}
/*.awesome-app-list-nav-link span.grow-tab-icon{width:20px;}*/
.awesome-app-list-tabs li a.nav-link p{margin-left:25px;}
.awesome-app-list-nav-link span.grow-tab-icon svg{max-width:100%;}
.awesome-app-list-tabs li a.nav-link p{font-size:.9rem;}
.awesome-app-list-content-col{width:100%;text-align:center;margin-top:0px; position: absolute!important; top: 0; margin-left: 0px; left: 0; }
.map-tab-bottom .awesome-app-list-content-col{margin: 0; left: 0;}
.awesome-app-list-content-col .tab-content>.tab-pane h4{display: block; font-size: 1.0rem; font-weight: bold; color: #3fc9f3; margin-bottom: 20px;}
.map-tab-bottom .awesome-app-list-content-col .tab-content>.tab-pane h4{min-height: 40px;}
.awesome-app-list-content{width:60%;margin:0 auto;}
.awesome-app-list-tabs-col{position: relative;z-index: 99; top:60px;}
.schoollog-loved-section{padding-top:30px;padding-bottom:30px;}
.schoollog-loved-section p{font-size:2.1rem;margin-bottom:0;}
.headache-col-subheading{font-size:0.75rem;}
.awesome-app-tabs li a.nav-link{font-size:1.0rem;}
.free-trial-btn-info p{padding:20px 0 10px;}
.support-info{padding-left:15px;padding-right:15px;}
.footer-section .support-list-info p{font-size:1.5rem}
.follow-col ul{text-align:center;}
.follow-col ul li{display:inline-block;float:none;margin-right:15px;}
.office-tabs-content iframe{min-height:332px;margin-bottom:4px;border-radius:0;}
.form-banner .form-group{float: left; width: 92%;}
.form-banner .btn-primary{float: right;}
.info-block{float:left;width:90%;padding-left:5%;}
.comunication-step{background:none;padding-bottom:0;max-width:90%;margin:0 auto;float:none;text-align:center;}
.step-image{width:250px;height:200px;margin:0 auto;display:inline-block;float:none!important;}
.step-image:after{content:normal;}
.step-content{width:100%;text-align:center;margin:20px 0 10px 0;}
.step-content p{width:100%;text-align:center;}
.comunication-step.last-child{background:none;padding:20px 0}
.step-content svg, .step-content i img{width:50px;height:50px;}
.step-image img{height:auto;width:80%;}
.reasons-reuired li{width:99%; min-height:140px; }
.reasons-reuired .owl-nav.disabled{display: none;}
.map-tab-bottom.why-reasons.more-reason-required{height: auto; min-height: auto;}
.reasons-reuired li i{font-size:50px;}
a.scroll-next{display: none;}
.office-tabs{margin-top: 0;}
.office-tabs{width: 100%; height: 60px; position: absolute;}
.office-tabs .nav-item{width: 159px; height: 60px;}
.office-tabs .nav-link.branch-btn{transform:rotate(0deg);transform-origin:0 0; border-radius: 10px 10px 0 0;}
.faq-page .awesome-app-list-tabs-col{width: 100%; margin-right: 0; top: 0;}
.faq-page .awesome-app-list-tabs li{width: 23%; margin:0 1%;}
.faq-page .awesome-app-list-content-col, .faq-page .awesome-app-list-content-col .awesome-app-list-content{width: 100%; text-align: center; margin-top: 20px; float: left;position: relative!important; }
.faq-page .awesome-app-list-content-col h5{text-align: center;}
.schoollog-area .col-md-6{text-align: center;}
#backtop, .country-map{display: none!important;}
.awesome-app-list-tabs li a.nav-link p{display: none;}
.awesome-app-list-nav-link span.grow-tab-icon{margin-top: -19px;}
.slider-content h1{font-size: 1.5rem;}
.heading-main h2{font-size: 1.2rem;}
.heading-main p{font-size: 0.9rem;}
.support-info{padding-top:0; }
.plan-first,.plan-first.highlight{background:#fff;box-shadow:0 0 20px 0 rgba(0, 0, 0, 0.1);margin-top:5px;padding-top:20px;}
.plan-first.highlight .benefit-list{margin-top: 0;}
.plan-first .benefit-list li {background: #f7f7f7; font-size: .8rem;}
.plan-first h3{font-size: 1.2rem}
.icon-inner, .plan-first.highlight .icon-main .icon-inner{background-size: 90%; background-position: center; width: 120px; height: 120px; line-height: 120px!important;}
.icon-inner i{font-size: 40px;}
.icon-inner svg{width: 36px;}
.price{margin: 0 0 20px 0;}
.price small{font-size: .7rem;}
.price big { font-size: 2.0rem;line-height: normal;}
.buy-now-btn{height: 40px; line-height: 40px; font-size:1.2rem; }
.opportunity-left{padding: 10px 0 10px 10px;}
.opportunity-left h4{font-size: 1.2rem;}
.opportunity-left p{font-size: 0.9rem; line-height: 18px;}
.opportunity-section{height: 160px;}
.flex-control-nav li{margin: 0 3px 0;}
.btn-block{margin-top: 10px;}
.opportunity-back{padding: 10px; height: 160px;}
.free-trial-outer{text-align: center;}
.want-see{display: inline-block; float: none;}
.free-trial-info p, .free-trial-btn-info p, .free-trial-btn-info{text-align: center;}
.faq-page .awesome-app-list-tabs li:nth-child(even){float: left;}
.faq-page .awesome-app-list-tabs li a.nav-link p{display: block;}
.faq-page .awesome-app-list-tabs li:nth-child(2n+1){clear: inherit;}
.testimonial .flex-control-nav{margin-top: 50px;}
.testimonial {margin-bottom: 30px;}
.map-tab-bottom.why-reasons.career-section.client-logo-slide{min-height: inherit;}
.start-header{background-color: #fff; width: 100%; float: left: }
.start-header .row{margin: 0}

.inner-page-header { background: none; min-height: inherit; margin-bottom: 140px;} 
.inner-page-header .inner-show-img { width: 100%; border: none; border-radius:0; position: relative; min-height: inherit; top: 62px;    height: inherit; max-height: 700px; }
.inner-page-header .inner-show-img img { max-width: 100%; }
.inner-page-header .full { position: relative;}
.inner-page-header .full .container { position: absolute; background: url(../images/inner_shape.png) center top no-repeat; background-size: cover; max-width: 100%; width: 100%; bottom: -120px; left: 0;  z-index: 9;padding-top: 233px; padding-bottom: 160px}
.inner-page-header .full .container .slider-content { width: 100%; padding-left: 15px; padding-right: 15px; margin-top: 0px; margin-bottom: 0px;}	
.inner-page-header .full .container .slider-content { text-align: center}
.inner-page-header .full .container .slider-content h1 { font-size: 4rem; line-height: 4rem; }
.inner-page-header .full .container .slider-content p {  font-family:'linotte-lightuploaded_file'; font-size: 2rem; } 
.map-tab-bottom.why-reasons.partern-with-us-last {min-height: inherit;}
.icon-grow_icon06{font-size: 30px!important; top: 10px!important}
[class^="icon-"]{ margin-right: 0!important;}
.map-tab-bottom .grow-tab-icon i{top: 6px}
.career-slide .owl-stage-outer{padding-bottom: 0;}
}
@media(max-width: 650px){.inner-page-header{background-position: 0 -102px}
.main-banner-heading { font-size: 2.5rem;}
.main-banner-subheading{font-size: 2.4rem; line-height: 2.4rem;}
.map-tab-bottom { min-height: 440px;}
}
@media(max-width: 600px){.inner-page-header{background-position: 0 -52px}}
@media(max-width:639px){ 
.inner-page-header .full .container { padding-top: 133px; padding-bottom: 90px; }
.inner-page-header .full .container .slider-content h1 { font-size: 3rem;}
.inner-page-header .full .container .slider-content p { font-size: 1.5rem;}	
}
@media(max-width: 520px){
	.main-banner-heading {font-size: 2.0rem;}
	.main-banner-subheading{font-size: 1.9rem; line-height: normal;}
	.form-banner .form-control{font-size: 1.5rem;}
	.home-main-banner .view h3,.home-main-banner .view p{font-size: 1.5rem;}
	.view.hm-white-slight img{margin-left: 40px; margin-right: 20px;}
	
}
@media(max-width:480px){
.schoollog-loved-section p{font-size: 1.5rem;}
.banner-image-mobile{margin-top:100px;}

.carousel-control-prev-icon, .carousel-control-next-icon{width: 40px; background-size: 18px;}
.form-banner{margin:10px auto;}
/*.form-group{margin-bottom:0;}*/
.form-banner .form-control{min-width:250px;}
.view.hm-white-slight img{width:40px;margin-top:10px;}
.banner-slide .carousel-item h3{text-align:left;font-size:1.5rem;}
.banner-slide .carousel-item p{text-align-last:left;font-size:2rem}
.banner-slide{margin-bottom:10px!important;}
.headache-heading{font-size:1.2rem;line-height:normal;}
.headache-col{margin-top:20px;}
.headache-col-heading{font-size:1rem;}
.headache-col-subheading::before{content:normal;}
.grow-tab-content{min-height:520px;}
.awesome-app-title{font-size:1.5rem}
.awesome-app-tabs li a.nav-link{font-size:0.82rem;line-height:normal;}
.awesome-app-content{margin-top:15px;}
.free-trial-info p{font-size:1.0rem;line-height:normal;}
.support-list-info h4{font-size:0.8rem;line-height:normal;}
.footer-section .support-list-info p{font-size:1rem;line-height:normal;}
.grow-tabs li .nav-link{font-size:0.9rem}
.grow-tabs li .nav-link svg{width:24px;height:24px;}
.awesome-app-list-nav-link svg{width:24px;height:24px;margin-top:5px;}
.team li{width:100%;margin:0 0 30px;}
.team-member-detail p{min-height:inherit;}
.inner-show-img{height: 180px; width: 180px;}
.awesome-app-content {min-height: 470px;}
}
@media(max-width:479px){
.office-tabs .nav-link.branch-btn{width: 140px;}
.office-tabs .nav-item{width: 144px;}
.inner-page-header .full .container { padding-top: 120px; padding-bottom: 83px; }
.inner-page-header .full .container .slider-content h1 { font-size: 2rem; line-height: 2rem;}
.inner-page-header .full .container .slider-content p { font-size: 1rem;}	
}
@media(max-width:450px){
	.reasons-reuired li{width:100%;margin:0 0 20px;}
	.inner-page-header{min-height: 270px;}
	.faq-page .awesome-app-list-content-col h5 { text-align: center; font-size: 1.5rem;}
	.faq-page .awesome-app-list-content-col p {font-size: 1rem;}
	.map-tab-bottom { min-height: 390px;}
}
@media(max-width:400px){
	.main-banner-heading{font-size: 1.5rem; line-height: normal;}
	.main-banner-subheading{font-size: 1.4rem;}
	.form-banner .form-group{width: 88%;}
	.form-banner .form-control{font-size: 1.2rem;}
	.banner-slide .carousel-item h3{font-size: 1rem;}
	.awesome-app-content {min-height: 420px;}
	.map-tab-bottom { min-height: 350px;}

}


@media only screen and (min-width:767px){.dropdown:hover>.dropdown-menu{display:block;}}

@media(max-width:991px){
	.schoollog-loved-section p br { display: none;}
.happy-clients .owl-nav.disabled .owl-prev { left: 0px; }
.happy-clients .owl-nav.disabled .owl-next { right: 0px;}
}

