/*common css*/
html{font-size:16px}
body{font-family:'linotte-regularuploaded_file';font-size:1rem;color:#242329}
ul{padding:0;margin:0}
p{font-size:1rem}
img{max-width:100%}
.container-large{margin-left:auto;margin-right:auto;max-width:1370px;position:relative;padding:0 15px}
.container-large:after,
.container-large:before{clear:both;display:table;content:""}
a:focus, a:active, a:hover{outline:none;text-decoration:none;cursor:pointer}
li{list-style:none}
p a{word-break:break-all}
::selection, ::-moz-selection {color: #fff; background: #3fb8f3;}
.transition,
.site-header .navbar-default .navbar-collapse,
.icon-bar,
.leftbar-button i{-webkit-transition:all ease-in-out 0.15s;-ms-transition:all ease-in-out 0.15s;transition:all ease-in-out 0.15s} 
.no-margin{margin:0!important}
.clear:after{clear:both;display:table;content:""}
textarea{resize:none}
.text-normal-initial{text-transform:initial}
.letter-spacing-05{letter-spacing:0.5px}
.selector-for-some-widget { box-sizing: content-box;}
.full{width:100%;float:left}
.clearfix{clear:both!important;}

body{ overflow-x: hidden; transition: all 200ms linear;}

::selection { color: #fff; background-color: #8167a9; }
::-moz-selection { color: #fff;background-color: #8167a9; }
::selection { background: rgba(255, 244, 147, .8);color: #272c30; }

.btn { 
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0); 
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: color, background-color;
	transition-property: color, background-color;
	transition: .3s ease; 
}

/* #Primary
================================================== */ 
.main-banner-section{background:url(../images/header_bg.png) top center no-repeat;width:100%;float:left;background-size:100%;padding-bottom:447px;} 
.home-main-banner{float:left;max-width:450px;color:#FFF;margin-top:270px;}
.main-banner-heading{font-size:2.4rem;line-height:2.9rem;font-family:'linotte-semibolduploaded_file';}
.main-banner-subheading{font-size:2.2rem;line-height:2rem;font-family:'linotte-lightuploaded_file';}
.form-banner{max-width:388px;border-bottom:#ffffff solid 2px;margin-top:35px;}
.form-banner .form-control{font-size:1.2rem;color:#FFF;background:none;border:none;padding-left:0;min-width:360px;}
.form-banner .form-control:focus{box-shadow:none;}
.form-banner .form-control::placeholder{color:#FFF;}
.form-banner .btn-primary{background:none;border:none;padding:10px 0;}
.form-banner .btn-primary:not(:disabled):not(.disabled):active{background:none;box-shadow:none;}
.banner-slide{margin-top:50px;}
.banner-slide .carousel-item h3{font-family:'linotte-lightuploaded_file';font-size:1.2rem;margin-bottom:0;}
.banner-slide .carousel-item p{font-family:'linotte-bolduploaded_file';font-size:3.4rem;line-height:3rem;margin-bottom:0;}
.banner-slide .carousel-control-next,
.banner-slide .carousel-control-prev{width:15px;z-index:99;}
.view.hm-white-slight img{float:left;margin-left:50px;margin-right:20px;}
.headache-section{padding-bottom:100px;text-align:center;}
.headache-heading{font-size:1.2rem;letter-spacing:1.5px;line-height:3rem;padding-bottom:10px;color:#000;font-family:'linotte-semibolduploaded_file';position:relative;}
.headache-heading::before{content:"";position:absolute;width:170px;height:3px;background:#5eff48;bottom:0;left:50%;margin-left:-85px;}
.headache-col{margin-top:60px;}
.headache-col-heading{font-size:1.2rem;padding-bottom:5px;color:#1e1d1d;}
.headache-col-subheading{display:inline-block;margin-top:5px;padding:8px 15px 8px 15px;background:#59595b;border:1px solid #59595b;color:#FFF;font-size:24px;font-weight:bold;letter-spacing:2px;border-radius:10px;position:relative;}
.headache-col-subheading::before{content:"";position:absolute;width:85px;height:52px;background:url(../images/arrow.png) left top no-repeat;right:-130px;top:25px;}
.schoollog-way .headache-col-subheading::before{width:46px;height:65px;background:url(../images/light.png) left top no-repeat;right:-60px;top:0px;}
.headache-chart{width:100%;float:left;margin-top:20px;}
.grow-section{background:url(../images/section_bg.jpg) center top no-repeat;background-size:cover;min-height:660px;padding-top:50px;padding-bottom:50px;}
.grow-tabs{max-width:544px;float:left;border-bottom:none;margin-top:30px;}
.grow-tabs li{width:50%;padding-right:20px;padding-top:15px;padding-bottom:15px;}
span.grow-tab-icon{display:block;height:40px;text-align:center;float:left;overflow:hidden;}
.grow-tabs li .nav-link, .panel-default li.panel-heading .nav-link{padding:0 10px 0 27px;height:84px;line-height:84px;border:#FFF solid 1px;border-radius:0;color:#FFF;}
.grow-tabs li p{font-size:1.1rem;line-height:2.5rem;margin-bottom:0px;margin-left:50px;}
.grow-tabs .nav-item.show .nav-link,
.grow-tabs .nav-link.active{color:#00c0ff;}
.grow-tabs .nav-item.show .nav-link span.grow-tab-icon img,
.grow-tabs .nav-link.active span.grow-tab-icon img{margin-top:-50px;}
.grow-tabs li.add-on-tab{width:100%;padding-right:0;padding-bottom:0px;}
.grow-tabs li.add-on-tab.show, .grow-tabs li.add-on-tab.show .nav-link{background-color:transparent;}
.grow-tabs li.add-on-tab .nav-link{border:none;float:right;padding-top:0px;padding-bottom:0px;}
.grow-tabs li.add-on-tab .nav-link p{font-size:1.3rem;line-height:60px;float:right;text-align:right;margin-left:0px;padding-right:15px;}
.grow-tabs li.add-on-tab span.grow-tab-icon{float:right;background:#00c0ff;color:#fff;height:60px;width:60px;border-radius:50%;font-size:50px;line-height:55px;}
.grow-tabs li.add-on-tab .nav-link:hover span.grow-tab-icon{background:#FFF;color:#00c0ff;}
.grow-tab-content{max-width:530px;min-height:610px;float:right;background:#FFF;width:100%;padding:35px 15px;}
.grow-tab-content-chart{text-align:center;width:100%;}
.grow-tab-content-chart img{max-height:200px;}
.grow-tab-content h5, .panel-body h5{font-size:1.5rem;color:#3fc9f3;text-align:center;font-family:'linotte-bolduploaded_file';margin-top:40px;}
.force-overflow ul{display:block;width:100%;float:left;padding-right:30px;margin-top:0px;}
.force-overflow ul li{display:block;width:100%;float:left;color:#0b0f09;font-size:1rem;line-height:1.5rem;margin-bottom:5px;}
.force-overflow ul li img{float:left;margin-right:10px;}
.force-overflow ul li h6{font-family:'linotte-bolduploaded_file';}
.grow-tabs li.add-on-tab .nav-item.show .nav-link,
.grow-tabs li.add-on-tab .nav-link.active{background:none;color:#FFF;}
.grow-tabs li.add-on-tab .nav-item.show .nav-link span.grow-tab-icon,
.grow-tabs li.add-on-tab .nav-link.active span.grow-tab-icon{background:#FFF;color:#00c0ff;}
.grow-tab-content .scrollbar{margin-top:15px/*40px*/;}
.scrollbar{float:left;height:200px;width:100%;overflow-y:scroll;margin-bottom:10px;}
.force-overflow{min-height:350px;}
#style-1::-webkit-scrollbar-track{-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.3);border-radius:10px;background-color:#FFF;}
#style-1::-webkit-scrollbar{width:6px;background-color:#FFF;}
#style-1::-webkit-scrollbar-thumb{border-radius:6px;-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,.3);background-color:#d8d8d8;}
#style-2::-webkit-scrollbar-track{-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.3);border-radius:10px;background-color:#FFF;}
#style-2::-webkit-scrollbar{width:6px;background-color:#FFF;}
#style-2::-webkit-scrollbar-thumb{border-radius:6px;-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,.3);background-color:#D62929;}
.awesome-app-section{padding-top:30px;padding-bottom:30px;width:100%;float:left;}
.awesome-app-title{text-align:center;font-size:3.2rem;color:#0b0f09;font-family:'linotte-semibolduploaded_file';margin-bottom:15px/*70px*/;}
.awesome-app-tabs{max-width:730px;margin:0 auto;text-align:center;border:none;}
.awesome-app-tabs li{width:20%;}
.awesome-app-tabs li a.nav-link{position:relative;font-size:1.5rem;line-height:1.5rem;color:#b6b6b6;font-family:'linotte-bolduploaded_file';border:none;}
.awesome-app-tabs li a.nav-link.active{color:#00c0ff;border:none}
.awesome-app-tabs li a span{position:relative;z-index:1;display:block;width:26px;height:26px;border-radius:50%;background:#e1e1e1;border:#f1f1f1 solid 5px;margin:15px auto 0 auto;}
.awesome-app-tabs li a.nav-link:hover{border:none;}
.awesome-app-tabs li a.nav-link:hover span,
.awesome-app-tabs li a.nav-link.active span{background:#FFF;border-color:#00c0ff;box-shadow:1px 2px 5px rgba(0, 0, 0, 0.5);}
.awesome-app-tabs li a.nav-link::after{content:'';position:absolute;height:4px;width:50%;right:0px;bottom:18px;z-index:0;background:#e1e1e1;}
.awesome-app-tabs li a.nav-link::before{content:'';position:absolute;height:4px;width:50%;left:0px;bottom:18px;z-index:0;background:#e1e1e1;}
.awesome-app-tabs li:first-child a.nav-link::before,
.awesome-app-tabs li:last-child a.nav-link::after{display:none;}
.awesome-app-content{width:100%;float:left;margin-top:15px;}
.awesome-app-content .awesome-app-content-outer{display:flex;width:100%;}
.awesome-app-list-tabs-col{display:flex;}
.awesome-app-list-content-col{display:flex;width:398px;}
.awesome-app-list-tabs{display:block;width:100%;border-bottom:none;float:left;margin-top:25px;}
.awesome-app-list-tabs li{display:block;width:50%;float:left;padding-right:30px;}
.awesome-app-list-tabs li a.nav-link{position:relative;background:#f7f7f7;border:#dfdfdf solid 1px;padding:0;margin-bottom:20px;border-radius:0;color:#0b0f09;}
.awesome-app-list-nav-link{border:#FFF solid 2px;padding:13px 20px;}
.awesome-app-list-tabs li a.nav-link p{font-size:1.3rem;line-height:2.4rem;margin-bottom:0;margin-left:40px;}
.nav-tabs .nav-link:hover { color: #00c0ff;background-color: #fff;border-color: #dee2e6 #dee2e6 #fff;}
.nav-tabs .nav-link:hover i:before{color: #00c0ff;}
.nav-tabs .add-on-tab .nav-link:hover{color: #fff; background-color: transparent;border-color: transparent;}
.awesome-app-list-tabs .nav-item.show .nav-link,
.awesome-app-list-tabs .nav-link.active, 
.awesome-app-list-tabs .nav-link:hover{box-shadow:none;color:#00c0ff;background:#f7f7f7;border:#00c0ff solid 1px;}
.awesome-app-list-tabs .nav-item.show .nav-link span.grow-tab-icon img,
.awesome-app-list-tabs .nav-link.active span.grow-tab-icon img{margin-top:-56px;}
.awesome-app-list-content{width:370px;}
.schoollog-loved-section{height:auto;background-position:center top;background-repeat:repeat;background-attachment:fixed;background-image:url(../images/schoollog_loved_bg.jpg);float:left;padding-top:120px;padding-bottom:120px;width:100%;border-top:#00c0ff solid 4px;}
.schoollog-loved-section p{text-align:center;font-size:2.5rem;color:#FFF;font-family:'linotte-semibolduploaded_file';}
.schoollog-loved-section p span{color:#00c0ff;}
.schoollog-area{width:100%;float:left;padding-top:110px;padding-bottom:110px; overflow: hidden;}
.free-trial-section{width:100%;float:left;padding-top:35px;padding-bottom:35px;background:rgb(82,125,224);background:-moz-linear-gradient(0deg, rgba(82,125,224,1) 0%, rgba(65,160,243,1) 100%);background:-webkit-linear-gradient(0deg, rgba(82,125,224,1) 0%, rgba(65,160,243,1) 100%);background:linear-gradient(0deg, rgba(82,125,224,1) 0%, rgba(65,160,243,1) 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#527de0",endColorstr="#41a0f3",GradientType=1);}
.free-trial-outer{text-align:left;display:flex;flex-direction:row;align-items:center;vertical-align:middle;}
.free-trial-info p{text-align:left;float:left;font-size:1.8rem;line-height:2.4rem;color:#FFF;width:100%;margin-top:10px;margin-bottom:0px;}
.want-see{display:block;float:left;padding:2px 15px;background:#FFF;border-radius:3px;font-size:1.2rem;line-height:1.6rem;color:#000000;}
.free-trial-btn-info{text-align:left;}
.free-trial-btn-info p{width:100%;float:left;font-size:1.2rem;color:#FFF;line-height:1.5rem;margin-bottom:0;text-align:left;}
.free-trial-btn{background:#FFF;color:#3fbff3;padding:10px 40px;font-size:1.5rem;font-family:'linotte-semibolduploaded_file';}
.footer-section{width:100%;float:left;background:#131115 url(../images/footer_bg.jpg) left top repeat;}
.office-outer{width:100%;text-align:left;display:inline-block;flex-direction:row;align-items:center;vertical-align:middle; margin-top: 35px; margin-bottom: 20px;}
.office-tabs-content{width:88%; float: left; overflow: hidden;}
.office-tabs-content iframe{width:100%;min-height:478px; border-radius:0;}
.office-tabs .nav-link{width:60px;overflow:hidden;padding:0px;border-radius:0;border:none;margin-top:3px;margin-bottom:3px;}
.office-tabs .nav-link img{max-width:inherit!important;}
.office-tabs{border-bottom:none;width:60px; margin-top: 5%;}
.office-outer{position:relative;}
.support-info{padding-top:20px;padding-bottom:20px;padding-left:85px;}
.support-list{width:100%;background:#000000;float:left;padding:20px;margin-top:15px;}
.support-icon-col{width:52px;text-align:center;float:left;padding-top:15px;}
.support-list-info{margin-left:80px;color:#bdbdbd;border-left:#bdbdbd solid 1px;padding-left:20px;padding-top:10px;padding-bottom:10px;}
.support-list-info h4{font-size:1rem;line-height:1.5rem;margin-bottom:0px;}
.support-list-info p{font-size:2rem;line-height:2.5rem;font-family:'linotte-semibolduploaded_file';margin-bottom:0;}
.support-list-info p a{color:#bdbdbd;}
.follow-col{width:100%;margin-top:25px;padding-bottom:20px;float:left;border-bottom:#535353 solid 1px;}
.follow-col p{font-family:'linotte-semibolduploaded_file';font-size:1.5rem;color:#e5e5e5;}
.follow-col ul{display:block;float:left;margin:0;margin:0;width:100%;}
.follow-col ul li{display:block;float:left;margin-right:15px;}
.follow-col ul li a{display:block; border:3px solid #bdbdbd; border-radius: 100%;width:40px;height:40px;overflow:hidden; text-align: center; line-height: 40px;}
.follow-col ul li a span{display:block;/*background:url(../images/social_media_icon.png) left top repeat;*/ color: #bdbdbd; font-size: 20px; margin-right: 0; line-height: 25px}
.follow-col ul li a:hover, .follow-col ul li a:hover span, 
.follow-col ul li a.active, .follow-col ul li a.active span{border-color: #2acaff; color:#2acaff;}
ul.footer-nav{display:block;float:left;width:100%;margin:0;padding:0;margin-top:15px;margin-bottom:8px;}
ul.footer-nav li{display:inline-block;color:#bdbdbd;font-size:1rem;margin-right:10px;}
ul.footer-nav li a{display:block;color:#bdbdbd;text-decoration:none;}
ul.footer-nav li a:hover{color:#FFF;}
.copy-right-col{width:100%;float:left;font-size:1rem;color:#bdbdbd;margin-bottom:0;}
.banner-image-mobile{display:none;}
.nav-old{display:none;}
body{overflow-x:hidden;}
.panel-group{float:left;width:100%;}
.panel.panel-default{margin-bottom:10px;float:left;width:100%;}
.panel-heading{width:100%;float:left;}
.panel-heading h4, .panel-heading h4 a{font-size:0.95rem;color:#fff;margin-bottom:0;width:100%;height:50px;line-height:50px;}
.panel-heading h4 a{display:block;text-indent:20px;}
.grow-tabs li a.nav-link svg{margin:-6px 10px 0 0;width:27px;height:27px;}
.grow-tabs li a.active svg .grow-tab-icons, .grow-tabs li a:hover
svg .grow-tab-icons{fill:#00c0ff;}
.force-overflow-icon{margin-top:-3px;float:left;margin-right:10px;}
.panel-default li.panel-heading .nav-link[aria-expanded="true"]{background-color:#fff;color:#00c0ff;border:1px solid #00c0ff;}
.panel-default li.panel-heading .nav-link.grpw-tab-icon8{padding-left:30px;}
.panel-collapse{background-color:#fff;padding:20px;float:left;width:100%;}
.info-block{float:left;width:100%;}
.awesome-app-list-tabs .nav-link.active svg .awesome-app-text, .awesome-app-list-tabs .nav-link:hover svg .awesome-app-text{fill:#00c0ff;}
.awesome-app-list-nav-link svg{width:24px;height:24px;margin-top:4px;}
.inner-page-header{background:url(../images/inner-page-header.png) no-repeat 0 0;background-size:100%;width:100%;float:left;position:relative;min-height:994px;}
.inner-show-img{background:rgba(255, 255, 255, 0.2);border-radius:100%;overflow:hidden;height:811px;width:811px;border:24px solid rgba(255, 255, 255, 0.2);position:absolute;top:80px;right:118px;}
.slider-content{float:left;width:50%;margin-top:356px;}
.slider-content h1{font-size:50px;color:#fff;line-height:55px;}
.slider-content p{font-size:22px;color:#f7f7f7;line-height:22px;}
.heading-main{width:100%;text-align:center;}
.heading-main h2{font-size:55px;line-height:55px;font-family:'linotte-semibolduploaded_file';}
.heading-main p{font-size:20px;color:#0b0f09;margin-bottom:15px;}
.heading-main:after{content:'';background:#5eff48;height:3px;width:90px;margin:0 auto;display:block;}
.plan-main-section{width:100%;float:left;}
.plan-main{width:100%;float:left;background:url(../images/plan_bg_main.png) no-repeat 0 34px;padding-top:74px;}
.plan-first.highlight{background:#fff;box-shadow:0 0 20px 0 rgba(0, 0, 0, 0.1);margin-top:5px;padding-top:40px;}
.plan-first{background:#fafafa;padding:28px 20px;text-align:center;float:left;width:370px;margin-bottom:160px;margin-top:35px; transition: all 0.3s ease;}
.icon-main{width:100%;text-align:center;float:left;margin-bottom:22px;}
.plan-first.highlight .icon-main .icon-inner{background:url(../images/enterprise_bg.png) no-repeat 0 0;}
.icon-inner{background:url(../images/plan-icon-bg.png) no-repeat 0 0;width:165px;height:168px;position:relative;display:inline-block;overflow:hidden;text-align:center;line-height:168px!important;}
.icon-inner i{font-size: 50px; margin-right: 0; color: #fff;}
.benefit-list{width:100%;float:left;}
.benefit-list li i{font-size: 16px; top: 1px; float: left;}
.benefit-list li{background:#fff;display:block;padding:5px;padding:15px;color:#747474;font-size:16px;font-family:'linotte-semibolduploaded_file';line-height:normal;text-align:left;margin-bottom:10px;}
.benefit-list li svg{float:left;margin-right:16px;}
.benefit-list li span{display:block;margin-left:33px;}
.price{width:100%;float:left;margin:30px 0;}
.price big{font-size:67px;color:#3fbaf3;font-weight:bold;line-height:67px;display:block;}
.price small{font-size:15px;color:#a2a3a4;line-height:normal;display:block;}
.buy-now-btn{width:100%;height:50px;line-height:50px;text-align:center;color:#fff;font-size:22px;background:#28b57a;border-radius:5px;float:left;}
.buy-now-btn:hover{background:#149d64;text-decoration:none;color:#fff;}
.plan-first.highlight .benefit-list li{background:#f7f7f7;}
.plan-first.highlight .benefit-list{margin-top:48px;}
.map-tab-bottom{width:100%;float:left;background:#f7f7f7;padding:34px 0;position:relative;}
.map-tab-bottom .grow-tab-icon i{margin-right: 0; top: 0;}
.map-tab-bottom .awesome-app-list-tabs li{width:50%;max-width:398px;z-index:50;position:relative;}
.map-tab-bottom .awesome-app-list-tabs li:nth-child(even){float:right;}
.map-tab-bottom .awesome-app-list-content-col{position:absolute;top:32px;left:50%;margin-left:-200px}
.map-tab-bottom .awesome-app-list-tabs li a.nav-link p{line-height:normal;}
.blank-space{width:100%;float:left;position:absolute;left:0;top:-275px;background:url(../images/communication_middle_divder.png) repeat-y center 0;height:280px;}
.counication-page{width:100%;float:left;position:relative;}
.comunication-step{width:100%;float:left;padding:45px 0;background:url(../images/communication_center_dot.png) no-repeat center center, url(../images/communication_middle_divder.png) repeat-y center 0, url(../images/divider_dot.png) no-repeat center 0;}
.comunication-step.last-child{width:100%;float:left;padding:50px 0;background:url(../images/communication_middle_divder.png) repeat-y center 0, url(../images/divider_dot.png) no-repeat center 0;}
.step-image{width:487px;height:380px;float:left;background:#f2f2f2;text-align:center;padding:30px 0;position:relative;}
.step-image:after{content:'';width:0;height:0;border-top:20px solid transparent;border-bottom:20px solid transparent;border-left:20px solid #f2f2f2;position:absolute;top:50%;right:-20px;margin-top:-17px;}
.step-image img{display:inline-block;position:absolute;left:0;top:0;right:0;bottom:0;vertical-align:middle;margin:auto;}
.step-image.right-side{float:right;}
.step-image.right-side:after{border-right:20px solid #f2f2f2;border-left:0 solid transparent;right:0;left:-20px;}
.step-content{width:42%;float:right;margin-top:49px;}
.step-content h3{font-size:36px;margin-top:10px;margin-bottom:10px;}
.step-content p{width:80%;float:left;}
.step-content.left-side{float:left;}
.why-reasons h2{color:#242329;font-size:30px;display:block;text-align:center;font-weight:bold;margin-bottom:50px;}
.reasons-reuired li{float:left;margin:0 1% 20px;width:23%;text-align:center;font-size:24px;font-weight:normal; border:1px solid #ebebeb; padding:20px; min-height: 184px; line-height: normal; color: #4e4e4e; font-family:'linotte-semibolduploaded_file';}
.reasons-reuired li svg{margin-bottom: 20px;}
.reasons-reuired li .list-title{display: block; }
.reasons-reuired li:hover{background:#4892ec; border-color: #4892ec; color: #fff;}
.reasons-reuired li:hover svg .more_reasons_icon{fill: #ffffff;}
.reasons-reuired li i{display:block;text-align:center;font-size:60px;margin-bottom:20px;color:#6e6e6e;}
.reasons-reuired li:hover i{color: #fff;}
.team-list{width:100%;float:left;padding-bottom:20px;min-height:180px;}
.team-right-contant-block{width:50%;float:right;margin-top:-78px;}
.team-right-contant-block.first-child{margin-top:0;}
.date-block{float:left;padding-right:207px;position:relative;}
.date-block:before{content:"";width:27px;height:99px;background-color:#ec3259;float:left;}
.year-month{transform-origin:58px 69px;transform:rotate(-90deg);position:absolute;float:left;left:0;bottom:0;text-align:center;}
.year-month small{float:left;font-weight:bold;width:100%;line-height:normal;font-size:14px;}
.year-month big{text-transform:uppercase;font-size:30px;line-height:24px;font-weight:bold;}
.team-right-contant-block p{float:left;width:56%;}
.date-01 .year-month{color:#ec3259;}
.team-left-contant-block{width:52.5%;float:left;margin-top:-78px;}
.team-left-contant-block p{float:left;width:56%;}
.team-left-contant-block .date-block{float:right;padding-right:0;padding-left:207px;}
.team-left-contant-block .year-month{float:right;left:auto;right:0;transform-origin:32px 70px;transform:rotate(90deg);}
.team-left-contant-block .date-block:before{background-color:#fb360b;}
.date-02 .year-month{color:#fb360b;}
.date-block.date-03:before{background-color:#fd8a1f;}
.date-03 .year-month{color:#fd8a1f;}
.team-list p{margin-top:70px;}
.indication{width:183px;height:2px;background-color:#fd8a1f;position:absolute;bottom:-35px;left:40px;}
.indication:before{content:'';width:15px;height:15px;background-color:#fd8a1f;position:absolute;left:0;top:-7px;border-radius:100px;}
.indication:after{content:'';width:46px;height:46px;background-color:#fd8a1f;position:absolute;right:0;top:-23px;border-radius:100px;}
.team-left-contant-block .indication{left:0;}
.team-left-contant-block .indication:before{right:0;left:auto;}
.team-left-contant-block .indication:after{right:auto;left:0;}
.date-01 .indication, .date-01 .indication:after, .date-01 .indication:before{background-color:#ec3259;}
.date-02 .indication, .date-02 .indication:after, .date-02 .indication:before{background-color:#fb360b;}
.date-04 .indication, .date-04 .indication:after, .date-04 .indication:before{background-color:#87bd11;}
.date-05 .indication, .date-05 .indication:after, .date-05 .indication:before{background-color:#2750a0;}
.date-06 .indication, .date-06 .indication:after, .date-06 .indication:before{background-color:#7b4e85;}
.date-07 .indication, .date-07 .indication:after, .date-07 .indication:before{background-color:#4f8c9f;}
.date-08 .indication, .date-08 .indication:after, .date-08 .indication:before{background-color:#c52764;}
.date-09 .indication, .date-09 .indication:after, .date-09 .indication:before{background-color:#8a5d3c;}
.date-10 .indication, .date-10 .indication:after, .date-10 .indication:before{background-color:#ea7832;}
.date-11 .indication, .date-11 .indication:after, .date-11 .indication:before{background-color:#505050;}
.date-12 .indication, .date-12 .indication:after, .date-12 .indication:before{background-color:#b0c17a;}
.date-13 .indication, .date-13 .indication:after, .date-13 .indication:before{background-color:#f0d23e;}
.date-14 .indication, .date-14 .indication:after, .date-14 .indication:before{background-color:#a977b2;}
.date-15 .indication, .date-15 .indication:after, .date-15 .indication:before{background-color:#808080;}
.date-16 .indication, .date-16 .indication:after, .date-16 .indication:before{background-color:#6dbdc4;}
.team-list.last-child{min-height:0;margin-bottom:0;padding-bottom:0;}
.date-block.date-04:before{background-color:#87bd11;}
.date-04 .year-month{color:#87bd11;}
.date-block.date-05:before{background-color:#2750a0;}
.date-05 .year-month{color:#2750a0;}
.date-block.date-06:before{background-color:#7b4e85;}
.date-06 .year-month{color:#7b4e85;}
.date-block.date-07:before{background-color:#4f8c9f;}
.date-07 .year-month{color:#4f8c9f;}
.date-block.date-08:before{background-color:#c52764;}
.date-08 .year-month{color:#c52764;}
.date-block.date-09:before{background-color:#8a5d3c;}
.date-09 .year-month{color:#8a5d3c;}
.date-block.date-10:before{background-color:#ea7832;}
.date-10 .year-month{color:#ea7832;}
.date-block.date-11:before{background-color:#505050;}
.date-11 .year-month{color:#505050;}
.date-block.date-12:before{background-color:#b0c17a;}
.date-12 .year-month{color:#b0c17a;}
.date-block.date-13:before{background-color:#f0d23e;}
.date-13 .year-month{color:#f0d23e;}
.date-block.date-14:before{background-color:#a977b2;}
.date-14 .year-month{color:#a977b2;}
.date-block.date-15:before{background-color:#808080;}
.date-15 .year-month{color:#808080;}
.date-block.date-16:before{background-color:#6dbdc4;}
.date-16 .year-month{color:#6dbdc4;}
.team{width:100%;float:left;}
.team li{display:inline-block;text-align:center;width:30%;margin:0 1%;}
.team-pic{overflow:hidden;display:inline-block;}
.team-pic img{height:332px;width:332px;overflow:hidden;display:inline-block;border-radius:100%;border:10px solid rgba(175, 175, 175, 0.19);}
.team-member-info{display:block;text-align:center;margin-top:20px}
.team-member-info h3{font-size:22px;color:#00c0ff;font-weight:600;line-height:20px;}
.team-member-info .dagination{color:#848484;font-size:18px;font-weight:600;line-height:17px;}
.linkedin-btn{background-color:#0084b1;height:46px;line-height:46px;color:#fff;font-size:18px;display:inline-block;padding:0 10px;border-radius:5px;}
.linkedin-btn i{padding:5px 0px;color:#fff;display:inline-block;margin-right: 5;}
.linkedin-btn:hover{background-color:#027095;color:#fff;}
.team-member-detail p{min-height:114px;color:#000000;}
.career-section{width:100%;padding:50px 0 50px 0;float:left;}
.career-slide{width:100%;float:left;margin:30px 0 0;}
/*.career-slide .slides li{width: 48%;margin: 0 1%; float: left;}*/
.opportunity-section{border:2px solid #f0f0f0;width:100%;float:left;border-radius:5px;overflow:hidden; perspective: 1000px; height: 191px;}
.opportunity-section.opportunity-section-right{float:right;}
.opportunity-left{float:left;width:60%;padding:45px 0 20px 20px;}
.opportunity-left h4{color:#00c0ff;font-size:24px;display:block;}
.opportunity-left p{color:#747474;font-size:16px;display:block;line-height:22px;margin-bottom:0;}
.opportunity-img{float:right;width:40%;}
.carousel-indicators{bottom:-67px;}
.carousel-indicators li{height:20px;width:20px;border-radius:100%;border:2px solid #f0f0f0!important;}
.carousel-indicators li.active{border-color:#00c0ff!important;}
section{position: relative; display: block; clear: both;}
a.scroll-next{position: absolute; bottom: 60px; left: 50%;z-index: 100;display: inline-block; padding-top: 60px;} 
a.scroll-next span {position: absolute;top: 0px;left: 50%;width: 24px;height: 24px;margin-left: -12px;border-left: 1px solid #62d8fe; border-bottom: 1px solid #62d8fe;-webkit-transform: rotate(-45deg);transform: rotate(-45deg); box-sizing: border-box; -webkit-animation: sdb01 2s infinite;animation: sdb01 2s infinite; opacity: 0;}
a.scroll-next span:nth-of-type(1) {-webkit-animation-delay: 0s; animation-delay: 0s;}
a.scroll-next span:nth-of-type(2) {top: 16px; -webkit-animation-delay: .15s; animation-delay: .15s;}
a.scroll-next span:nth-of-type(3) {top: 32px;-webkit-animation-delay: .3s; animation-delay: .3s;}
#section04 a.scroll-next,#section05 a.scroll-next{bottom: 20px;}
#section03 a.scroll-next{bottom: -40px;}
#section05 a.scroll-next {color: #fff;}
#section05 a.scroll-next span{border-left: 1px solid #fff;border-bottom: 1px solid #fff;}
@-webkit-keyframes sdb01 {
  0% {opacity: 0;}
  50% {opacity: 1;}
  100% {opacity: 0;}
}
@keyframes sdb01 {
  0% {opacity: 0;}
  50% {opacity: 1;}
  100% {opacity: 0;}
}
.office-tabs .nav-item{width: 60px; height: 159px;}
.office-tabs .nav-link.branch-btn{background-color:rgba(0, 0, 0, 0.5); color: #fff; width: 156px; height: 60px; line-height: 60px; float: left; font-size: 18px; text-align: center; transform-origin: 101px 101px;transform: rotate(-90deg); font-weight: 100; border-radius: 0 0 10px 10px;}
.office-tabs .nav-item.show .nav-link.branch-btn, .office-tabs .nav-item .nav-link.branch-btn.active{background:rgb(82,125,224);background:-moz-linear-gradient(0deg, rgba(82,125,224,1) 0%, rgba(65,160,243,1) 100%);background:-webkit-linear-gradient(0deg, rgba(82,125,224,1) 0%, rgba(65,160,243,1) 100%);background:linear-gradient(0deg, rgba(82,125,224,1) 0%, rgba(65,160,243,1) 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#527de0",endColorstr="#41a0f3",GradientType=1); color: #fff;}
#backtop {position:fixed;right:10px;bottom:10px;cursor:pointer;width:50px;height:50px;background-color:#527de0;text-indent:-9999px;display:none;-webkit-border-radius:60px;-moz-border-radius:60px;border-radius:60px}
#backtop span {position:absolute;top:50%;left:50%;margin-left:-8px;margin-top:-12px;height:0;width:0;border:8px solid transparent;border-bottom-color:#ffffff;}
#backtop:hover {background-color: #000;}
/*.career-slide .carousel-control-prev, .career-slide .carousel-control-next{display: none;}*/
.opportunity-box{transition: transform 0.8s;transform-style: preserve-3d; position: relative;}
.opportunity-section:hover .opportunity-box{transform: rotateY(180deg);}
.opportunity-front, .opportunity-back{position: absolute; backface-visibility: hidden; width: 100%; height: 100%;}
.opportunity-back{transform: rotateY(180deg); padding: 20px; height: 188px; background: #fff;}
.opportunity-back h4{font-size: 16px; font-weight: bold; margin-bottom: 10px; line-height: normal; color:#00c0ff;}
.opportunity-back p{font-size: 13px; line-height: normal; color: #747474;}
.modal-header{display: inline-block; font-weight: bold;}
.modal-form{padding:0 .5rem;}
input[type="file"]{height: 44px;}
.position-main{background: #3fb8f3; color: #fff; font-size: 16px; padding: 0.5rem; border-radius: .25rem; display: block; font-weight: bold; letter-spacing: 0.6px;}
.faq-page{float: left; width: 100%; height: auto; margin-bottom: 60px;}
.faq-page .awesome-app-list-tabs-col{float: left; width: 36%; margin-right: 40px;}
.faq-page .awesome-app-list-content-col{width: 60%;}
.faq-page .awesome-app-list-tabs li a.nav-link{margin-bottom:10px; }
.faq-page .awesome-app-list-content-col .awesome-app-list-content{width: 100%; text-align: left;}
.faq-page .awesome-app-list-content-col h5{font-size: 2.5rem; color: #3fc9f3; text-align: left; font-family: 'linotte-bolduploaded_file'; margin-top: 40px;}
.faq-page .awesome-app-list-content-col p{font-size: 1.875rem;}
.faq-page .awesome-app-list-tabs li a.nav-link p{margin-left: 0; font-size: 2.5rem; color: rgba(0, 0, 0, 0.3);} 
.faq-page .awesome-app-list-tabs li a.nav-link.active p{color: #fff;}
.faq-page .awesome-app-list-tabs .nav-link.active{background: #00c0ff; color: #fff;}
.flex-direction-nav{display: none;}
.flex-control-nav{width: 100%; float: left; text-align: center; padding:0; margin: 0;}
.flex-control-nav li{display: inline-block; margin: 40px 3px 0;}
.flex-control-nav li a{text-indent: -99999px; border:1px solid #d0d0d0; width:20px; height:20px; border-radius: 50px; display: inline-block;}
.flex-control-nav li a.flex-active{border-color: #06c1ff;}
.flex-control-nav li a:focus{outline: none;}
.owl-stage-outer {width: 100%; float: left;overflow: hidden; padding: 0 0 30px 0;}
.owl-stage {display: flex; align-items: center;touch-action: manipulation;}
/*.owl-nav.disabled, .owl-dots.disabled {position: absolute;top: 35%;right: 0; left: 0}*/
.owl-nav.disabled .owl-prev, .owl-nav.disabled .owl-next{background:none; color: #429ef3; border:0px solid #429ef3; margin-left: 0px; font-size: 20px;}
.owl-nav.disabled .owl-prev:focus,.owl-nav.disabled .owl-next:focus{outline: none;}
.owl-nav.disabled .owl-prev{right: 60px; position: absolute;top: 0; background: url(../images/mobile_arrow_blue.png) no-repeat 50% 50%; background-size:14px ; width: 30px; height: 30px; background-color: #ffff;  box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.1); border-radius: 100%;}
.owl-nav.disabled .owl-next{right: 20px; position: absolute;top: 0; background: url(../images/mobile_arrow_right_blue.png) no-repeat  50% 50%; background-size:14px ; width: 30px; height: 30px; background-color: #ffff;
    box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.1); border-radius: 100%}
.owl-dots {float: left;width: 100%;text-align: center;margin-top: 10px;}
.owl-dots button:focus{outline: none;}
.owl-dots button {display: inline-block;background: none; margin: 0; border:0;}
.owl-dots button.active span {background: #00c0ff;}
.owl-dots button span {height: 20px;width: 20px;border: 1px solid #00c0ff;border-radius: 50%;float: left;}
.awesome-app-list-content-col .tab-content>.tab-pane h4{display: none;}
.more-reason-required{background: #fff;}
.testimonial{float: left; width: 100%; margin: 0px 0 60px 0; }
.speak-text { width: 100%; padding: 20px; text-align: center; float: left; border: 1px solid #f7f7f7;margin-bottom: 20px; background: #f7f7f7; border-radius: 10px; position: relative; min-height: 210px;}
.speaker-info{width: 100%; float: left; text-align: center; margin-top: 20px;}
.speaker-pic{width: 80px; height: 80px; display: inline-block; overflow: hidden; border-radius: 100%;}
.speaker-information{width: 100%; float: left;}
.name-text{display: block; font-size: 20px; font-weight: bold;}
.school-name{color: rgba(0, 0, 0, 0.5);}
.speak-text:after {content: '';width: 0; height: 0;  border-left: 15px solid transparent; border-right: 15px solid transparent; border-top: 20px solid #f7f7f7; position: absolute; left: 46%; bottom: -16px;
}
.career-slide .slide-carousel2 .owl-nav.disabled, 
.career-slide .slide-carousel2 .owl-nav,
.client-page .testimonail-carousel .owl-nav.disabled,
.client-page .testimonail-carousel .owl-nav{display: none;}
.our-client-logos h2{margin-bottom: 20px; text-align: left;}
/*--Inner pages css start here--*/
.reason-list{width: 100%; float: left; text-align: center;}
.top-text{max-width: 80%; margin:0 10%;}
.top-text p{font-size: 18px; text-align: center; display: block; line-height: normal;}
.top-text .big{font-size: 20px; line-height: normal; font-weight: bold;}
.reason-108{float: left; width: 100%; margin:20px 0; }
.reason-108 ul li{display: inline-block; text-align: left; width: 100%; margin:0 0 20px 0; border:1px solid rgba(0, 0, 0, 0.02); padding:15px 20px; box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.02)}
.reason-108 ul li:nth-child(odd){background-color: rgba(0, 0, 0, 0.01);}
.counting{font-weight: bold; margin-bottom: 0px; display: block;}
.life-schoollog{width: 100%; float: left;}
.life-schoollog .heading{width: 100%; text-align: center;}
.life-schoollog .heading h2, .life-schoollog .counication-page h2{font-size: 36px; font-weight: bold; margin:20px 0 10px; text-align: center;}
.life-schoollog p{text-align: center;}
.life-schoollog .counication-page{width: 100%;  float: left; margin:20px 0;}
.life-schoollog .counication-page p{text-align: left;}
.life-schoollog .counication-page h3{font-size: 24px; font-weight: bold; margin-bottom: 10px}
.our-mission{width: 100%; float: left; text-align: center; margin-bottom: 33px;}
.our-mission h3{font-size: 24px; text-align: center; display: block;}
.contact-page{width: 100%; float: left; margin-bottom: 30px;}
.contact-info{float: left; width: 30%;}
.address{float: left; width: 100%; background-color: rgba(0, 0, 0, 0.1); padding: 20px; margin-bottom: 20px; border-radius: 10px; font-size: 18px;}
.address h3{margin-bottom: 10px; font-weight: bold; font-size: 20px;}
.contact-number{display: block; margin-bottom: 5px; font-size: 15px;}
.modal-body .contact-form{width: 100%;}
.contact-number .title{font-weight: bold; margin-right: 20px; width: 30%; display: inline-block;}
.contact-form{width: 60%; float: right; background-color: rgba(0, 0, 0, 0.01); border-radius: 10px; padding: 20px 30px;}
.contact-form h3{font-size: 24px; font-weight: bold; margin-bottom: 20px; display: block;}
.faq-left { float: left; width: 48%; margin: 0 1%;}
.faq-left .card{margin-bottom: 20px;}
.card-header h5{text-align: left;}
.card-header .btn-link{color: #000; text-align: left; line-height: 20px; font-size: 16px; text-decoration: none; font-weight: bold; float: left; width: 100%;}
.faq-left .card-body{text-align: left;}
.faq-left .card-header{padding: 0.75rem 0.25rem;}

.card-header .btn-link:after {content: '-'; right: 15px; top: 16px; position: absolute; font-size: 30px;font-weight: normal;  color: rgba(0, 0, 0, 0.5)}
.card-header .btn-link.collapsed:after {content: '+'; right: 15px; top: 16px; position: absolute; font-size: 30px;font-weight: normal; color: rgba(0, 0, 0, 0.5);}
.terms h4{text-align: left; font-weight: bold; margin-bottom: 10px; display: block;}
.terms p{text-align: left;}
/*--Partner us page css start here--*/
.partner-section{width: 100%; float:left; padding: 20px 0; text-align: left;}
.partner-section h2{font-weight: bold; font-size: 30px; text-align: left; margin-bottom: 20px;}
.partner-event{border-radius: 4px; height: 40px; line-height: 40px; font-size: 16px; color: #fff; background-color: #00c0ff; padding: 0 20px; display: inline-block;}
.partner-event:hover{color: #fff; background-color: #00ace5;}
.partner-us-img{float: left; width: 45%;}
.partner-contant-section {float: right; width: 50%; margin-top: 60px;}
.key-contacts{float: right; width: 38%;}
.key-contacts h3{font-size: 18px; font-weight: bold; display: block; margin-bottom: 10px;}
.key-contacts-link{background-color: #fff; padding: 10px; float: left; width: 100%; box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1); margin-bottom: 20px;}
.user-image {float: left;width: 80px;margin-right: 20px;}
.user-detial .name-big{font-size: 18px; font-weight: bold; margin-bottom: 0;}
.partner-page .map-tab-bottom{background-color: #fff;}
.partner-page .map-tab-bottom.why-reasons{background-color: #f7f7f7;}
.partern-with-us-last h2{margin-bottom: 10px;}
.partern-with-us-last p{text-align: center; margin-bottom: 20px; display: block; font-size: 18px;}
.partern-with-us-last .reasons-reuired .counting-01{width: 100px; height: 100px; display: inline-block; text-align: center; line-height: 100px; font-size: 50px; font-weight: bold; background-color: #fff; border-radius: 100%; margin-bottom: 10px; color: rgba(0, 0, 0, 0.5);}
.partern-with-us-last .reasons-reuired .list-title{display: block;}
.partern-with-us-last .reasons-reuired .small-text{display: block; font-size: 13px; font-weight: normal;}
.client-logo{width: 99%; float: left;}
.client-logo .logo-img{width: 100%; margin: 0; min-height: 180px; border:1px solid rgba(0, 0, 0, 0.2); float: left; text-align: center; position: relative; background-color: #fff;}
.client-logo .logo-img img {display: inline-block; position: absolute;left: 0;top: 0;right: 0; bottom: 0;vertical-align: middle; margin: auto;width: 160px;}
.client-logo-slide .flex-direction-nav{display: block; text-align: center; margin-top: 20px;}
.client-logo-slide .flex-direction-nav li{display: inline-block; margin-right: 10px;}
.client-logo-slide .flex-control-paging{display: none;}
/*---Home page Cricle css--*/
.infoRotator{position:relative;width:100%;max-width:660px;line-height:0;font-size:0;-webkit-transform:translateZ(0);transform:translateZ(0)}.infoRotator-box p{line-height:normal;color:#616161;font-size:24px}.infoRotator-circle,.infoRotator-wrapper{position:absolute;display:block;width:100%;height:100%;top:0;left:0}.infoRotator-placeholder{max-width:none;width:100%}.infoRotator-circle{border:1px solid #e3e3e3;border-radius:50%}.infoRotator-link:after,.infoRotator-marker{border-radius:50%;position:absolute;display:block}.infoRotator-circle--1{-webkit-animation:rotate-clockwise 180s linear infinite;animation:rotate-clockwise 180s linear infinite}.infoRotator--animation--false .infoRotator-circle--1{-webkit-animation:none;animation:none}.infoRotator-circle--2{width:96%;height:96%;top:2%;left:2%}.infoRotator-circle--3{width:92%;height:92%;top:4%;left:4%;-webkit-animation:rotate-counterclockwise 180s linear infinite;animation:rotate-counterclockwise 180s linear infinite}.infoRotator--animation--false .infoRotator-circle--3{-webkit-animation:none;animation:none}.infoRotator-marker{width:6px;height:6px;top:0;left:0;background-color:#cecece;z-index:3}.infoRotator-link{position:absolute;display:block;width:20px;height:20px;top:-7px;left:-7px}.infoRotator-link:after{content:'';width:6px;height:6px;top:7px;left:7px;background-color:#54c439;-webkit-transition:all .2s ease;transition:all .2s ease}.infoRotator-link.active:after,.infoRotator-link:hover:after{-webkit-box-shadow:0 0 0 2px rgba(255,255,255,1),0 0 0 7px rgba(84,196,57,.2),0 0 0 8px rgba(255,255,255,1),0 0 0 10px rgba(84,196,57,.1),0 0 0 11px rgba(255,255,255,1),0 0 0 12px rgba(84,196,57,.05);box-shadow:0 0 0 2px rgba(255,255,255,1),0 0 0 7px rgba(84,196,57,.2),0 0 0 8px rgba(255,255,255,1),0 0 0 10px rgba(84,196,57,.1),0 0 0 11px rgba(255,255,255,1),0 0 0 12px rgba(84,196,57,.05)}.infoRotator-content{position:absolute;width:90%;height:90%;top:5%;left:5%;z-index:1}.infoRotator-box,.infoRotator-eclipse,.infoRotator-table{position:absolute;height:100%;width:100%}.infoRotator-eclipse{display:block;top:0;left:0;background-repeat:no-repeat;background-position:50% 50%;background-image:url(../images/rounded_animation.webp);background-size:contain;-webkit-transform:rotate(0);-ms-transform:rotate(0);transform:rotate(0)}.infoRotator-eclipse.animation{-webkit-animation:rotate-clockwise 4s linear;animation:rotate-clockwise 4s linear}.infoRotator-box{display:none;left:0;top:0;font-size:19px;line-height:30px;text-align:center}.infoRotator-box.active{display:block}.infoRotator-table{display:table;top:0;left:0}.mobileRotator,.mobileRotator-slider{position:relative}.infoRotator-table td{vertical-align:middle}.infoRotator-box h4{margin-bottom:0;font-weight:700;font-size:80px;line-height:80px;color:#00c0ff}.infoRotator-box p{padding-left:16%;padding-right:16%}@media (max-width:1600px){.infoRotator{left:0;top:0}}@media (max-width:1370px){.infoRotator-box h4{font-size:70px;line-height:70px}}@media (max-width:1199px){.infoRotator-box h4{font-size:62px;line-height:62px}}@-webkit-keyframes rotate-clockwise{from{-webkit-transform:rotate(0);transform:rotate(0)}to{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}@keyframes rotate-clockwise{from{-webkit-transform:rotate(0);transform:rotate(0)}to{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}@-webkit-keyframes rotate-counterclockwise{from{-webkit-transform:rotate(0);transform:rotate(0)}to{-webkit-transform:rotate(-360deg);transform:rotate(-360deg)}}@keyframes rotate-counterclockwise{from{-webkit-transform:rotate(0);transform:rotate(0)}to{-webkit-transform:rotate(-360deg);transform:rotate(-360deg)}}.statistics-icon,.table-cell--header .img{-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%)}@media(max-width:480px){.infoRotator-box h4{font-size:40px;line-height:40px}.infoRotator-box p{font-size:1rem}}


/** Added date on **/
.awesome-app-tabs { max-width: 950px;}
.awesome-app-tabs li a.nav-link br {display: none;}

.awesome-app-list-content-col .awesome-app-list-content { text-align: center;}
.awesome-app-list-content-col .tab-content>.tab-pane img { max-height: 500px;}


.appDownloadLinks { width: 100%; text-align: center;}
.appDownloadLinks a { display: inline-block; }
.appDownloadLinks a img { max-height: 36px; } 
/** Home page Cleints **/
ul.happy-clients { display: block; width: 100%; padding-left: 15px; padding-right: 15px; float: left; margin-top: 50px; position: relative;}	
ul.happy-clients li { display: block; text-align: center; background: #FFF; border-radius: 5px; overflow: hidden; padding: 20px 35px; margin-left: 5px; margin-right: 5px; }	
ul.happy-clients li a { display: block; width: 100%; float: left; }
ul.happy-clients li img { max-height: 120px; }
.happy-clients .owl-nav.disabled .owl-prev,
.happy-clients .owl-nav.disabled .owl-next { top: 65px; }
.happy-clients .owl-nav.disabled .owl-prev { left: -30px; }
.happy-clients .owl-nav.disabled .owl-next { right: -30px;}

