/* Refrance : https://codepen.io/ig_design/pen/omQXoQ */
@font-face{font-family:'linotte-bolduploaded_file';src:url('../fonts/linotte_bold-webfont.woff2') format('woff2'),
url('../fonts/linotte_bold-webfont.woff') format('woff');font-weight:normal;font-style:normal;}
@font-face{font-family:'linotte-heavyuploaded_file';src:url('../fonts/linotte_heavy-webfont.woff2') format('woff2'),
url('../fonts/linotte_heavy-webfont.woff') format('woff');font-weight:normal;font-style:normal;}
@font-face{font-family:'linotte-lightuploaded_file';src:url('../fonts/linotte_light-webfont.woff2') format('woff2'),
url('../fonts/linotte_light-webfont.woff') format('woff');font-weight:normal;font-style:normal;}
@font-face{font-family:'linotte-regularuploaded_file';src:url('../fonts/linotte_regular-webfont.woff2') format('woff2'),
url('../fonts/linotte_regular-webfont.woff') format('woff');font-weight:normal;font-style:normal;}
@font-face{font-family:'linotte-semibolduploaded_file';src:url('../fonts/linotte_semi_bold-webfont.woff2') format('woff2'),
url('../fonts/linotte_semi_bold-webfont.woff') format('woff');font-weight:normal;font-style:normal;}
 

/* #Navigation
================================================== */
 
.lead { font-size: 21px; line-height: 32px; color: #181825; }
.z-index-0 { z-index: 0;} 
.btn-brand { background: #000; color: #fff; font-size: 19px; padding: 14px 21px; border-radius: 4px; overflow: hidden; display: inline-block; vertical-align: middle; box-shadow: 0 0 1px rgba(0, 0, 0, 0); overflow: hidden; transform: rotate(-90deg)!important; position: fixed; right: -80px; top: 300px;}
.btn-brand:hover { color: #fff; background:rgb(82,125,224);background:-moz-linear-gradient(0deg, rgba(82,125,224,1) 0%, rgba(65,160,243,1) 100%);background:-webkit-linear-gradient(0deg, rgba(82,125,224,1) 0%, rgba(65,160,243,1) 100%);background:linear-gradient(0deg, rgba(82,125,224,1) 0%, rgba(65,160,243,1) 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#527de0",endColorstr="#41a0f3",GradientType=1); border-color: #3fc9f3; }
.btn-brand.focus, .btn-brand:focus { color: #fff; background-color: #08b072; border-color: #08b072; box-shadow: none;}

/*-------------------- Navigation classic ---------------------*/
.header-classic { position: fixed; width: 100%; z-index: 999;}.navbar-classic.navbar-light .navbar-nav .nav-link { color: #181825; padding: 12px 16px; }

.navbar-classic .navbar-nav .nav-item .nav-link { font-size: 15px; color: #fff; padding: 12px 10px; line-height: 20px; border-bottom: 1px solid transparent; }
.navbar-classic .navbar-nav .nav-item .nav-link:hover { color: #3fc9f3; }
.affix .navbar-classic .navbar-nav .nav-item .nav-link:hover{color: #3fc9f3}
.navbar-classic .navbar-nav .nav-item .nav-link:hover.dropdown-toggle::after { color: #3fc9f3; }
.navbar-classic.navbar { padding: 18px 0px;}
.navbar-classic .dropdown-toggle::after { margin-top: 1px; display: inline-block; width: 0;
	height: 0; margin-left: 6px; vertical-align: -2px; content: "\e906"; border-top: none; border-right: none; border-bottom: none; border-left: none; color: #fff/*#bdbebf*/; font-family: 's-svg'; font-weight: 900; margin-right: 15px; font-size: 10px; float: right; }
.navbar-classic .navbar-collapse.show .dropdown .dropdown-menu .dropdown-item { border-bottom: 1px solid #f1f1f6; border-radius: 0px; }
.navbar-brand { display: inline-block; padding-top: 5px; padding-bottom: 2px; margin-right: initial;
	line-height: inherit; white-space: nowrap; color:#181825; font-size:24px; }
.dropdown-menu { position: absolute; top: 100%; left: 0; z-index: 1000; display: none; float: left; min-width: 16rem; padding: 12px; margin:10px/*18px*/ 0px; font-size: 1rem; color: #808294; text-align: left;
	list-style: none; background-color: #fff; background-clip: padding-box; border: 1px solid rgb(255, 255, 255); border-radius: 2px; -webkit-box-shadow: 0px 3px 11px 0px rgba(0, 0, 0, 0.09);
	-moz-box-shadow: 0px 3px 11px 0px rgba(0, 0, 0, 0.09); box-shadow: 0px 3px 11px 0px rgba(0, 0, 0, 0.09); }
.dropdown-item { display: block; width: 100%; padding: 10px 10px; clear: both; font-weight: 400; color: #181825; text-align: inherit; white-space: nowrap; background-color: transparent; border: 0;
	font-size: 15px; line-height: 15px; }
.dropdown-item:focus, .dropdown-item:hover { color: #4955ef; text-decoration: none; background-color: #eeeffd; border-radius: 4px;}
.dropdown-item:focus .dropdown-toggle::after, .dropdown-item:hover.dropdown-toggle::after { color: #4955ef; }

.dropdown-submenu { position: relative; }
.dropdown-submenu a::after { transform: rotate(-90deg); position: absolute; right: 17px; top: 25px; }
.dropdown-submenu .dropdown-menu { top: 0px; left: 100%; margin-left: 13px; margin-right: .1rem; }
.caret-up { width: 0; height: 0; border-left: 4px solid rgba(0, 0, 0, 0); border-right: 4px solid rgba(0, 0, 0, 0); border-bottom: 4px solid; display: inline-block; margin-left: 2px; vertical-align: middle; }
.mega-dropdown { position: unset;}
.mega-dropdown-menu { width: 100%; position: absolute; top: 63px; margin: 15px 0px; }
.mega-dropdown-menu ul { list-style: none; }
.nav-dropitem-arrow { position: relative; font-size: 12px; opacity: 0; padding-right: 10px; }
.nav-dropitem-arrow i { position: absolute; /* top: -1px; */ }
.dropdown-item:focus, .dropdown-item:hover { color: #FFF; text-decoration: none; background-color: #3fc9f3; border-radius: 2px; }
.dropdown-item:hover .nav-dropitem-arrow { color: #4955ef; opacity: 1; margin-right: 5px; }
.navbar-classic .navbar-toggler, .navbar-boxed .navbar-toggler { padding: 17px 15px; font-size: 1.25rem;
	line-height: 1; background-color: transparent; border: 1px solid #eaeaf0; border-radius: .25rem;
	position: relative; }
	.navbar-classic .navbar-toggler .icon-bar{margin-right: 0px;}
/* mobile menu css */
.navbar-classic .navbar-collapse.show .dropdown .dropdown-menu { background: #fff; box-shadow: none;
	margin: 7px 0px; }
.navbar-classic .navbar-collapse.show .navbar-nav .nav-item .nav-link { border-bottom: 1px solid #f1f1f6; }
.navbar-classic .navbar-collapse.show .dropdown .dropdown-menu .dropdown-submenu.dropdown-item {
	border-bottom: 1px solid #f1f1f6; }
.navbar-boxed .navbar-collapse.show .dropdown .dropdown-menu { background: #fff; box-shadow: none;
	margin: 7px 0px; }
.navbar-boxed .navbar-collapse.show .navbar-nav .nav-item .nav-link { border-bottom: 1px solid #f1f1f6;
}
.navbar-boxed .navbar-collapse.show .dropdown .dropdown-menu .dropdown-submenu.dropdown-item { border-bottom: 1px solid #f1f1f6; }
.navbar-transparent .navbar-collapse.show .dropdown .dropdown-menu { background: #fff; box-shadow: none;
	margin: 7px 0px; }
.navbar-transparent .navbar-collapse.show .navbar-nav .nav-item .nav-link { border-bottom: 1px solid #495bfb; }
.navbar-transparent .navbar-collapse.show .dropdown .dropdown-menu .dropdown-submenu.dropdown-item {
	border-bottom: 1px solid #f1f1f6; }
.icon-bar { width: 21px; height: 3px; top: 0px!important; background-color: #3fc9f3; display: block; -webkit-transition: all 0.2s; transition: all 0.2s; margin-top: 4px }
.navbar-toggler:focus { outline: 0px; }
.navbar-toggler .top-bar { transform: rotate(45deg); transform-origin: 10% 190%; background-color: #3fc9f3; }
.navbar-toggler .middle-bar { opacity: 0; }
.navbar-toggler .bottom-bar { transform: rotate(-45deg); transform-origin: 10% -80%; background-color: #3fc9f3; }
.navbar-toggler.collapsed .top-bar { transform: rotate(0); background-color: #3fc9f3; }
.navbar-toggler.collapsed .middle-bar { opacity: 1; }
.navbar-toggler.collapsed .bottom-bar { transform: rotate(0); background-color: #3fc9f3; }
/** Header fixed **/ 
.header-classic,
.navbar-classic.navbar,
.navbar-brand img {-webkit-transition:padding 0.2s ease; -moz-transition:padding 0.2s ease; -o-transition:padding 0.2s ease; transition:padding 0.2s ease; }

.affix { box-shadow:0 5px 10px 0 rgba(138, 155, 165, 0.15); background-color: #fff; padding-top: 0.2em !important; padding-bottom: 0.2em !important; -webkit-transition:padding 0.2s linear; -moz-transition:padding 0.2s linear; -o-transition:padding 0.2s linear; transition:padding 0.2s linear; }
.affix .navbar-classic.navbar { padding: 5px 0; }
.affix .navbar-classic.navbar .navbar-brand img { height: 42px; }
/** Back to Top **/ 
.back-to-top { position: fixed; bottom: 25px; right: 25px; display: none; }
.navbar-classic .navbar-nav .nav-item .nav-link.login-bgn{color: #fff; background:rgb(82,125,224);background:-moz-linear-gradient(0deg, rgba(82,125,224,1) 0%, rgba(65,160,243,1) 100%);background:-webkit-linear-gradient(0deg, rgba(82,125,224,1) 0%, rgba(65,160,243,1) 100%);background:linear-gradient(0deg, rgba(82,125,224,1) 0%, rgba(65,160,243,1) 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#527de0",endColorstr="#41a0f3",GradientType=1); border-color: #5180e2; font-size: 16px;  padding: 8px 21px;border-radius: 4px;overflow: hidden; display: inline-block; vertical-align: middle; box-shadow: 0 0 1px rgba(0, 0, 0, 0); margin-top: 4px}
.navbar-classic .navbar-nav .nav-item .nav-link.login-bgn:hover {color: #fff; background:rgb(82,125,224);background:-moz-linear-gradient(90deg, rgba(82,125,224,1) 0%, rgba(65,160,243,1) 100%);background:-webkit-linear-gradient(90deg, rgba(82,125,224,1) 0%, rgba(65,160,243,1) 100%);background:linear-gradient(90deg, rgba(82,125,224,1) 0%, rgba(65,160,243,1) 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#527de0",endColorstr="#41a0f3",GradientType=1);border-color: #5180e2;}
.affix .navbar-classic .navbar-nav .nav-item .nav-link{color:#181818;}
.affix .navbar-classic .navbar-nav .nav-item .nav-link:after{color: #181818}
.affix .navbar-classic .navbar-nav .nav-item .nav-link.login-bgn{color: #fff;}
/*.header-classic .container { max-width: 100%; position: relative; padding: 0 9%;}*/
@media(min-width:992px) {
.dropdown .dropdown-menu { display: block; visibility: hidden; opacity: 0; -webkit-transform: translateY(20px); -ms-transform: translateY(20px); transform: translateY(20px); -webkit-transition: all .3s ease-in; -o-transition: all .3s ease-in; transition: all .3s ease-in}
.dropdown:hover>.dropdown-menu { visibility: visible; opacity: 1; -webkit-transform: scaleY(1); -ms-transform: scaleY(1); transform: scaleY(1); opacity: 1; visibility: visible; }
.dropdown-submenu:hover .dropdown-menu { visibility: visible; opacity: 1; -webkit-transform: scaleY(1);
		-ms-transform: scaleY(1); transform: scaleY(1); opacity: 1; visibility: visible;}
}
@media(max-width:1279px){ 
	.btn-brand { min-width:140px;  padding: 8px 5px; font-size: 14px; right: -52px; }
	.navbar-brand img { max-width: 120px; } 
}
@media(max-width:992px){ 
.header-classic { box-shadow:0 5px 10px 0 rgba(138, 155, 165, 0.15); background-color: #fff; }
.navbar-brand img { max-width: inherit; }
.navbar-classic.navbar { padding: 10px 0px; }
.header-classic .navbar-classic .navbar-nav .nav-item .nav-link,
.affix .navbar-classic .navbar-nav .nav-item .nav-link{color:#181818;}

.navbar-classic .navbar-collapse .navbar-nav .nav-item .nav-link:after{color: #181818;}
.btn-brand{position: relative; right: 0; left: 0; top: 0; transform: rotate(0deg) !important;}
.navbar-classic .navbar-nav .nav-item .nav-link.login-bgn,
.affix .navbar-classic .navbar-nav .nav-item .nav-link.login-bgn{background: transparent; padding: 12px 10px; margin: 0; color: #181818;}
.navbar-classic .navbar-nav .nav-item .nav-link.login-bgn:hover{color: #3fc9f3; background: transparent; border-color: transparent;}
}
@media(max-width: 800px){.affix .navbar-classic .navbar-nav .nav-item .nav-link:hover, .navbar-classic .navbar-nav .nav-item .nav-link:hover{color: #3fc9f3}}