@font-face {
  font-family: 's-svg';
  src:  url('../fonts/s-svg.eot?r87qcm');
  src:  url('../fonts/s-svg.eot?r87qcm#iefix') format('embedded-opentype'),
    url('../fonts/s-svg.ttf?r87qcm') format('truetype'),
    url('../fonts/s-svg.woff?r87qcm') format('woff'),
    url('../fonts/s-svg.svg?r87qcm#s-svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 's-svg' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 24px;
  margin-right: 10px;
  top: 5px;
  position: relative;

 /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-building:before {
  content: "\e900";
}
.icon-calendar_001:before {
  content: "\e901";
}
.icon-communi_01:before {
  content: "\e902";
}
.icon-communi_02:before {
  content: "\e903";
}
.icon-communi_03:before {
  content: "\e904";
}
.icon-contract:before {
  content: "\e905";
  color: #3fbef3;
}
.icon-download:before {
  content: "\e906";
}
.icon-fb2:before {
  content: "\e907";
}
.icon-flax:before {
  content: "\e908";
  color: #3fbef3;
}
.icon-grow_icon01:before {
  content: "\e909";
  color: #fff;
}
.icon-grow_icon02:before {
  content: "\e90a";
  color: #fff;
}
.icon-grow_icon03:before {
  content: "\e90b";
  color: #fff;
}
.icon-grow_icon04:before {
  content: "\e90c";
  color: #fff;
}
.icon-grow_icon05:before {
  content: "\e90d";
  color: #fff;
}
.icon-grow_icon06:before {
  content: "\e90e";
  color: #fff;
}
.icon-grow_icon07:before {
  content: "\e90f";
  color: #fff;
}
.icon-grow_icon08:before {
  content: "\e910";
  color: #fff;
}
.icon-icon_01:before {
  content: "\e911";
}
.icon-icon_02:before {
  content: "\e912";
}
.icon-icon_03:before {
  content: "\e913";
}
.icon-icon_04:before {
  content: "\e914";
}
.icon-icon_05:before {
  content: "\e915";
}
.icon-icon_06:before {
  content: "\e916";
}
.icon-icon_07:before {
  content: "\e917";
}
.icon-icon_08:before {
  content: "\e918";
}
.icon-icon_09:before {
  content: "\e919";
}
.icon-icon_10:before {
  content: "\e91a";
}
.icon-icon_11:before {
  content: "\e91b";
}
.icon-icon_12:before {
  content: "\e91c";
}
.icon-icon_13:before {
  content: "\e91d";
}
.icon-icon_14:before {
  content: "\e91e";
}
.icon-icon_15:before {
  content: "\e91f";
}
.icon-icon_16:before {
  content: "\e920";
}
.icon-icon_17:before {
  content: "\e921";
}
.icon-icon_18:before {
  content: "\e922";
}
.icon-icon_19:before {
  content: "\e923";
}
.icon-icon_20:before {
  content: "\e924";
}
.icon-icon_21:before {
  content: "\e925";
}
.icon-icon_22:before {
  content: "\e926";
}
.icon-icon_23:before {
  content: "\e927";
}
.icon-instagram2:before {
  content: "\e928";
}
.icon-instagram-logo2:before {
  content: "\e929";
}
.icon-linkedin2:before {
  content: "\e92a";
}
.icon-lunch:before {
  content: "\e92b";
  color: #fff;
}
.icon-mail:before {
  content: "\e92c";
}
.icon-map_tab_01:before {
  content: "\e92d";
}
.icon-map_tab_02:before {
  content: "\e92e";
}
.icon-map_tab_03:before {
  content: "\e92f";
}
.icon-map_tab_04:before {
  content: "\e930";
}
.icon-map_tab_05:before {
  content: "\e931";
}
.icon-mobile:before {
  content: "\e932";
}
.icon-more_reasons_01:before {
  content: "\e933";
}
.icon-more_reasons_02:before {
  content: "\e934";
}
.icon-more_reasons_03:before {
  content: "\e935";
}
.icon-more_reasons_04:before {
  content: "\e936";
}
.icon-more_reasons_05:before {
  content: "\e937";
}
.icon-more_reasons_06:before {
  content: "\e938";
}
.icon-more_reasons_07:before {
  content: "\e939";
}
.icon-more_reasons_08:before {
  content: "\e93a";
}
.icon-parent_app_icon01:before {
  content: "\e93b";
}
.icon-parent_app_icon02:before {
  content: "\e93c";
}
.icon-parent_app_icon03:before {
  content: "\e93d";
}
.icon-parent_app_icon04:before {
  content: "\e93e";
}
.icon-parent_app_icon05:before {
  content: "\e93f";
}
.icon-parent_app_icon06:before {
  content: "\e940";
}
.icon-parent_app_icon07:before {
  content: "\e941";
}
.icon-parent_app_icon08:before {
  content: "\e942";
}
.icon-parent_app_icon09:before {
  content: "\e943";
}
.icon-parent_app_icon10:before {
  content: "\e944";
}
.icon-parent_app_icon11:before {
  content: "\e945";
}
.icon-parent_app_icon12:before {
  content: "\e946";
}
.icon-parent_app_icon13:before {
  content: "\e947";
}
.icon-parent_app_icon14:before {
  content: "\e948";
}
.icon-parent_app_icon15:before {
  content: "\e949";
}
.icon-parent_app_icon16:before {
  content: "\e94a";
}
.icon-price_01:before {
  content: "\e94b";
}
.icon-price_02:before {
  content: "\e94c";
}
.icon-price_03:before {
  content: "\e94d";
}
.icon-price_04:before {
  content: "\e94e";
}
.icon-price_05:before {
  content: "\e94f";
}
.icon-stayconnect:before {
  content: "\e950";
  color: #3fbef3;
}
.icon-twitter2:before {
  content: "\e951";
}
.icon-up-arrow:before {
  content: "\e952";
}
.icon-user:before {
  content: "\e953";
}
.icon-whatsapp2:before {
  content: "\e954";
}
.icon-youtube2:before {
  content: "\e955";
}
.btn.back-to-top i{margin-right: 0; top: 0px; font-size: 18px;}
.grow-tabs .nav-link.active i:before{color: #00c0ff;}
.force-overflow-icon [class^="icon-"]{top:3px; font-size: 20px; margin-right: 0;}
.support-icon-col [class^="icon-"]{font-size: 44px; margin-right: 0; top: 0; color: #9c9c9c;}